<nav class="navbar navbar-expand-lg fs-2">
  <div class="container-fluid">
    <img src="/src/assets/img/LogoDreamIt.jpeg" routerLink="routes" />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-label="Mostrar/Quitar navegación"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
        <li class="nav-item pe-3 ps-3">
          <a
            class="nav-link active text-light"
            routerLink="home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav-item pe-3 ps-3">
          <a
            class="nav-link active text-light"
            routerLink="login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>
        <li class="nav-item pe-3 ps-3">
          <a
            class="nav-link active text-light"
            routerLink="register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Register</a
          >
        </li>
        <li class="nav-item dropdown pe-3 ps-3">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          ></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
