.nav-dev {
  background-color: rgb(15, 78, 76);
  opacity: 75%;
}

img {
  border-radius: 2em;
  width: 1.7em;
  height: auto;

  margin-right: 0.5em;
  margin-left: 0.2em;
  border: 0.1em solid rgb(209, 209, 36);
}
