<nav class="navbar navbar-expand-lg fs-2">
  <div class="container-fluid b-3">
    <img
      src="../../../assets/img/logo.jpg"
      alt="logo"
      class="img-fluid mt-0 mb-0"
    />
    <a class="navbar-brand text-warning ms-2 fs-2" routerLink="routes"
      >DreamIt!</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-label="Mostrar/Quitar navegación"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-5">
        <li class="nav-item pe-3 ps-3">
          <a
            class="nav-link active text-light fs-4"
            routerLink="home"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Home</a
          >
        </li>
        <li class="nav-item pe-3 ps-3">
          <a
            class="nav-link active text-light fs-4"
            routerLink="login"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Login</a
          >
        </li>
        <li class="nav-item pe-3 ps-3">
          <a
            class="nav-link active text-light fs-4"
            routerLink="register"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
            >Register</a
          >
        </li>
        <li class="nav-item dropdown pe-3 ps-3 fs-4">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
          ></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item fs-4" href="#">Action</a></li>
            <li><a class="dropdown-item fs-4" href="#">Another action</a></li>
            <li><hr class="dropdown-divider fs-4" /></li>
            <li>
              <a class="dropdown-item fs-4" href="#">Something else here</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled fs-4" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
